aiohttp
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
discord.py
aiohttp
websockets
pynacl==1.2.1
ffprobe
ffmpeg
nekos.py
Pillow>=6.0.0
discord>=1.0.1
wikipedia
mee6-py-api
asyncio
youtube-dl
asyncpg
Cybernator
chardet
timeago
git+git://github.com/Rapptz/discord.py.git
asyncpg
lavalink==3.1.4
